.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin: 40px 0 66px;
}

.card:link,
.card:visited {
  color: #000;
  text-decoration: none;
}

.imgWrapper {
  overflow: hidden;
  margin-bottom: 30px;

  width: 100%;
  aspect-ratio: 1;

  border-radius: 4px;
}

.img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.title,
.price {
  margin: 0;

  color: #000;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.title:hover,
.title:active {
  color: #727883;
}

.description {
  margin: 20px 0;

  font-size: 18px;
  line-height: 26px;

  opacity: 0.6;
}

.error {
  margin: 0;

  font-size: 18px;

  color: #000;
  opacity: 0.6;
}

.skeleton {
  height: 566px;
  margin-bottom: 40px;
}
